{% include "header.html" %}
<div class="col-3"></div>
<form class="col-6" method="post" action="login">
  {% if error %}
  <div class="alert alert-danger" role="alert">
    {{ error }}
  </div>
  {% endif %}
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" name="password" autofocus="autofocus">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<div class="col-3"></div>
{% include "footer.html" %}
